<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        input[type=email] {
            padding: 10px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: var(--prymary-color);
            color: white;
            padding: 8px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover{
            opacity: 0.6;
        }
        #back{
            background-color: rgb(97, 94, 100);
        }
    </style>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="modal-main">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <div class="auth-form">
                <div class="container" style="max-width: 400px;margin: 8px 24px;" >
                    <h1>Forgot Password</h1>
                    <p style="font-size: 14px;line-height: 1.5;">Vui lòng nhập địa chỉ email của bạn bên dưới và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại
                        mật khẩu của bạn.</p>
                    <form id="formForGot" action="/auth/forgotPW" method="post">
                        <label for="email" style="font-size: 14px;line-height: 1.5;">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                        <br>
                        <div style="display: flex;justify-content: center;">
                            <div style="margin: 0 12px;">
                                <button type="submit" >Send</button>
                            </div>
                            <button type="click" id="back">Back</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        document.getElementById("formForGot").onsubmit=(e)=>{
            e.preventDefault();
            const email = document.getElementById("email").value
            console.log(email)        
        }
    </script> -->
    <script>
        document.getElementById("back").onclick=(e)=>{
            e.preventDefault();
            window.location.href="/auth/views/login"
        }
    </script>
</body>

</html>