<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/3068/3068327.png">
  <title>HuyKhac Shop</title>
    <!-- <link rel="stylesheet" href="/css/app.css" /> -->
    <!-- <link rel="stylesheet" href="/css/base.css" /> -->
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <!-- <link rel="stylesheet" href="/fonts/css/all.min.css" /> -->
    <link rel="stylesheet" href="/css/verify.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/128/3068/3068327.png"
    />
  </head>
  <style>
    .container1111{
      display:flex;
      justify-content:center;
      align-items: center;
      height: 750px;
      background-color: aqua;
    }
  </style>

  <body>
    <div class="container1111">
      <div class="modal-main">
        <div class="modal__overlay"></div>
        <div class="modal__body">
          <div class="auth-form">
            <div class="container" style="max-width: 600px">
              <div class="form" style="line-height: 1.6rem">
                <h2 style="color: var(--prymary-color); margin-bottom: 16px">
                  Cập nhật mật khẩu mới
                </h2>
                <form id="formForGot" action="/auth/resetPW/<%= reset %>" method="post">                
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="password" class="col-form-label">Mật khẩu mới</label>
                    </div>
                    <div class="col-auto">
                      <input type="password" id="pasword" name="newPassword" class="form-control" aria-labelledby="passwordHelpInline">
                    </div>
                  </div>
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="repeatedPassword" class="col-form-label">Nhập lại mật khẩu mới</label>
                    </div>
                    <div class="col-auto">
                      <input type="password" id="repeatedPassword" name="repeatNewPassword" class="form-control" aria-labelledby="passwordHelpInline">
                    </div>
                    <div class="col-auto">
                      <span id="passwordHelpInline" class="form-text">
                        Mật khẩu cần có độ dài trên 10 kí tự
                      </span>
                    </div>
                  </div>
                  <div style="display: flex; justify-content: center">
                    <div style="margin: 0 12px">
                      <button type="submit" id="updatePW">Cập nhật</button>
                    </div>
                    <button type="click" id="back">Trở lại</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<!-- <script type="text/javascript" src="https://phonuiit.com/noel/it.snow.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $('#formForGot').submit(e =>{
    e.preventDefault();

    const newPassword = $('#pasword').val();

    const repeatNewPassword = $('#repeatedPassword').val();

    console.log(pasword);

    $.ajax({
              url: '/auth/resetPW/<%= reset %>',
              type: 'PATCH',
              dataType: 'json',
              data: {newPassword: newPassword, repeatNewPassword:repeatNewPassword},
              success: function (data) {
                  Toastify({
                      text: 'Cập nhật mật khẩu thành công',
                      duration: 2000,
                      newWindow: true,
                      //close: true,
                      offset: {
                          x: 50, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                          y: 10 // vertical axis - can be a number or a string indicating unity. eg: '2em'
                      },
                      gravity: "top", // `top` or `bottom`
                      position: "right", // `left`, `center` or `right`
                      stopOnFocus: true, // Prevents dismissing of toast on hover
                      style: {
                          background: "linear-gradient(to right, green, green)",
                          width: "250px",
                          fontSize: "16px"
                      },
                      onClick: function () { } // Callback after click
                  }).showToast();
                  setTimeout(() => {
                      window.open("http://localhost:3000/auth/views/login", '_self')
                  }, "2000")
              },
              error: function (data) {
                  Toastify({
                      text: data.responseJSON.errorCode || 'Cập nhật mật khẩu không thành công',
                      duration: 2000,
                      newWindow: true,
                      //close: true,
                      offset: {
                          x: 50, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                          y: 10 // vertical axis - can be a number or a string indicating unity. eg: '2em'
                      },
                      gravity: "top", // `top` or `bottom`
                      position: "right", // `left`, `center` or `right`
                      stopOnFocus: true, // Prevents dismissing of toast on hover
                      style: {
                          background: "linear-gradient(to right, red, red)",
                          width: "250px",
                          fontSize: "16px"
                      },
                      onClick: function () { } // Callback after click
                  }).showToast();
              }
          });
    
    }
  )
</script>

<style>
  .auth-form__controls {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  #auth-form__logindefault {
    margin: 10px 0 50px;
  }
</style>
<script>
  let checkLogin = document.getElementById("auth-form__logindefault");
</script>

