:root{
    --while-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --prymary-color: #ea4d2d;
    --boder-color:#dbdbdb
} 

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
    /* 62.5% = 10px 
        1rem = 10px
    */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);

}


.modal__body{
    --growth-from:0.7;
    --growth-to:1;    
    margin: auto;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    animation: growth linear .1s;
}


.btn{
    height: 34px;
    min-width: 142px;
    border: none;
    font-size: 1.5rem;
    background-color: var(--while-color);
    padding: 0 12px;
    text-decoration: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem
}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.05);

}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;

}
.btn.btn--primary{
    background-color: var(--prymary-color);
    color: var(--while-color);
}
/* vô hiệu hóa btn */
.btn.btn--disabled{
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;

}