html, .app {
  background-color: antiquewhite; }

@media (min-width: 1200px) {
  .container {
    max-width: 1168px; } }

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0; }

.app {
  margin-top: 140px; }

.font-buy:hover, .a-header:hover {
  text-decoration: none;
  color: white; }

.ul-colorWhile a {
  color: white; }

.form-Search {
  margin-top: -10px; }

li {
  list-style-type: none; }

.font-buy {
  color: white; }

.nav-link, .nav-link a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem; }

.nav-link a:hover {
  color: rgba(255, 255, 255, 0.432);
  text-decoration: none; }

.hover {
  color: white; }

.hover:hover {
  color: white;
  opacity: 0.8; }

.left-60 {
  left: 88px; }

.mt-0 {
  top: -10px; }

.ti {
  font-size: 20px;
  align-items: center; }

.danhmuchover:hover {
  border: 2px solid #e1dbdb; }

.para-text:hover {
  opacity: 0.6; }

.card-body {
  height: 48px; }

.card-text {
  margin: auto;
  padding: auto;
  text-align: center; }

.sanphamhover:hover {
  border: 2px solid #fe6433; }

.sanphamhover:hover div .gia {
  color: #fe6433; }

.FDN71 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.705);
  text-decoration: none; }

.Dc814L {
  text-transform: uppercase;
  margin: 18px;
  color: #a8a6a6; }

.Dc814L:hover {
  text-decoration: none;
  color: #fe6433; }

.ddddddddddd {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.d56atc {
  margin: 36px 0; }

.BV2E6Y {
  margin: 2px;
  align-items: center; }

.ddddddddddd {
  padding-bottom: 36px; }

td a {
  color: black; }

.buttons_added {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top; }

.is-form {
  overflow: hidden;
  position: relative;
  background-color: white;
  width: 1.9rem;
  height: 2.2rem;
  padding: 0;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #c6c4c4;
  text-align: center;
  font-size: 24px; }

.minus, .plus {
  cursor: pointer; }

.is-form:hover, .input-text:hover {
  border: 1px solid #c6c4c4;
  background-color: #f9f4f4; }

.is-form.minus {
  border-radius: 4px 0 0 4px; }

.is-form.plus {
  border-radius: 0 4px 4px 0; }

.is-form:focus, .input-qty:focus {
  outline: none; }

.input-qty {
  background-color: #fff;
  height: 2.2rem;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 0;
  max-width: 20px; }

.input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.border-heart {
  color: #bdb8b8;
  font-size: 24px;
  margin-left: 50px; }

.like {
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin-top: -2px; }

.like:hover {
  color: #2f2fa0; }

.icon-mangXH > i {
  margin: 0px 5px; }

.colorBlue {
  font-size: 24px;
  margin-left: 50px;
  color: blue; }

.buttonGioHang1, .buttonGioHang2 {
  border: 1px solid red;
  height: 48px;
  cursor: pointer;
  margin-top: 16px; }

.buttonGioHang2 {
  background-color: #c22525;
  color: white; }

.buttonGioHang1 {
  background-color: pink;
  color: #c10808; }

.buttonGioHang1:hover, .buttonGioHang2:hover {
  opacity: 0.6; }

.buttonGioHang1:focus, .buttonGioHang2:focus {
  outline: none; }

.home-back {
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fe6433;
  font-weight: 500;
  align-items: center; }

.auth-header {
  margin-top: 2px; }

.auth-link-home:hover {
  opacity: 0.8; }

.suggestion {
  position: relative;
  content: "";
  top: -16px;
  right: 11px;
  margin: auto;
  background-color: white;
  width: 58%;
  border-radius: 1px; }

.background-ddd {
  background-color: #ddd; }

.para-suggestion {
  padding: 10px 18px;
  cursor: text; }

.suggestion-hover:hover {
  background-color: #fafaf8;
  border: 1px solid #b3b2b2; }

.suggestion-hover {
  cursor: pointer; }

.suggestion-li {
  text-decoration: none;
  cursor: pointer; }

.textcolor-black {
  color: black; }

.textcolor-black:hover {
  color: black; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control:focus {
  border: 2px solid #885c5c;
  box-shadow: none; }
