body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.dashboard{
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-left: 2px;
    margin-right: 2px;    
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.formContainer {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}

h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
}

.form-group {
    margin: 20px 20px 20px 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
   
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="date"],
input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    textarea {
    height: 100px;
    }
    
    .addproduct {
        background-color: var(--prymary-color);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 18px;
    }
    
    button[type="submit"]:hover {
        background-color: var(--prymary-color);
        opacity: 0.8;
    }

    select {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #444;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-group>label{
        margin-right: 10px;
    }
    

