		body {
			margin: 0;
			padding: 0;
			-webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
		}
		.containerBox {
			display: flex;
			flex-direction: row;
			background-color: rgb(105, 192, 233);
			position: relative;
			justify-content: end;
		}

		.nav {
			/* display: flex; */
			/* flex-direction: column; */
			display: block;
			background-color: rgb(105, 192, 233);
			color: rgba(58, 53, 65, 0.87);
			width: 250px;
			padding-top: 5px;
			border: 4px solid #fff;
			border-radius: 4px;
			margin-top: 102px;
			background-color: #fff;
			max-height: 620px;
			overflow-y: scroll;
			margin-left: 8px;
			/* box-shadow: 2px 2px 10px rgba(0,0,0,0.3); */
			position: fixed; 
			z-index: 1; 
			margin-left: 30px;
		}
		.containerBox>.nav{
			display: block!important;
		}

		.nav h1 {
			font-size: 24px;
            margin-left: 10px;
            letter-spacing: 0.15px;
            font-weight: 600;
            line-height: normal;
            color: rgba(58, 53, 65, 0.87);
			text-align: center;
		}
		
		.nav ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.nav li {
			border-radius: 5px;
			transition: background-color 0.3s ease-in-out;
            margin:2px 8px;
			position: relative;
		}
		.nav li::after{
			content: "";
			width: 100%;
			position: absolute;
			height: 1px;
			width: 100%;
			background-color: #ccc;
		}

		.nav a {
			color: rgba(58, 53, 65, 0.87);
			text-decoration: none;
			font-size: 18px;
			padding: 12px 16px;
			border-radius: 5px;
			transition: background-color 0.3s ease-in-out;
			display: block;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
			text-align: center;
		}

		.nav a:hover {
			box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
            background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
			color: #fff;
		}
	
		.main {
			flex: 1;
			background-color: rgb(105, 192, 233);
			/* box-shadow: 2px 2px 10px rgba(0,0,0,0.3); */
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			max-width: 80%;
		}

		.main h1 {
			font-size: 36px;
			margin-bottom: 30px;
			text-align: center;
		}

		.card {
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			padding: 20px;
			margin-bottom: 20px;
		}

		.card h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}

		.card p {
			font-size: 16px;
			margin-bottom: 0;
		}
		.active>a{
			box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
            background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
            border-top-right-radius: 100px!important;
            border-bottom-right-radius: 100px!important;
			color: #fff!important;
			cursor: inherit;
		}
		.dataTables_scrollBody .dtsp-pane {
			display: none !important;
		  }