body {
  font-family: "Roboto Slab", serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Noto Serif', serif; */
}

/* HEAD */

.custom-menu-header {
  color: black;
}

.custom-menu-header .active {
  color: red;
}

.custom-menu-header:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 70%;
  color: rgb(105, 192, 233);
  cursor: pointer;
}

.custom-dropdown-item:hover {
  background-color: rgb(105, 192, 233);
}

header {
  /* background-color: rgb(235, 231, 231); */
  padding: 10px;
  background-color: rgb(105, 192, 233);
}

img:hover {
  opacity: 90%;
  transform: scale(1.01);
}

/* ======================== */
/* SECTION */

.container {
  background-color: rgb(214, 220, 223);
  padding: 30px;
  box-shadow: 1px 1px 3px;
  border-radius:1px;
}


.breadcrumb{
  padding: 10px;
  font-size: 18px
}

.breadcrumb-home {
  color: black;
}
a{
  text-decoration: none;
}

.custom-account{
  display: flex;
}
.account-infor{
  flex-basis: 60%;
}
.account-text{
  flex-basis: 40%;
  padding: 5px 40px;
}

.account-text-custom{
  height: 90%;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}




/* ======================== */
/* FOOTER */
footer {
  background-color: rgb(105, 192, 233);
  padding: 10%;
  /* height: 500px; */
  margin-top: 50px;
}
