body{
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Noto Serif', serif; */
}

/* HEAD */
.custom-menu-header{
  color: black;
}

.custom-menu-header .active{ 
  color: red;
}

.custom-menu-header:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 70%;
  color: rgb(105, 192, 233);
  cursor: pointer;
}

.custom-dropdown-item:hover {
  background-color: rgb(105, 192, 233);
}

header {
  /* background-color: rgb(235, 231, 231); */
  padding: 10px;
  background-color: rgb(105, 192, 233);
  
}

img:hover {
  opacity: 90%;
  transform: scale(1.01);
}

/* ======================== */
/* SECTION */
.custom-section {
  /* background-color: aqua; */
  margin: 10px 0px;
}

.custom-image {
  /* padding: 1px; */
  background-color: rgb(247, 246, 246);
  border: 1px solid rgb(247, 246, 246);
  height: 425px;
} 

.custom-image-child {
  margin: 11px 0px;
}


.infor-detail {
  padding: 10px;
  background-color: rgb(247, 246, 246);
  border: 1px solid rgb(247, 246, 246);
}

.infor-delivery {
  background-color: rgb(247, 246, 246);
  border: 1px solid rgb(247, 246, 246);
  margin: 15px 0px;
  padding: 10px;
}

.input-buy {
  background-color: rgb(40, 153, 206);
  border: 1px solid rgb(40, 153, 206);
  padding: 5px;
  height: 48px;
}

.custom-btn-order {
  width: 200px;
}

.custom-sale {
  background-color: rgb(187, 233, 255);
  border: 1px solid rgb(187, 233, 255);
  padding: 10px;
  height: 300px;
}

.text-custom-sale {
  font-size: 18px;
  margin: 25px 0px;
}

/* Comment book */
.comment-book {
  background-color: rgb(247, 246, 246);
  padding: 10px;

}

.custom-comment-book {
  display: flex;
  margin: 10px 0px;
  /* text-overflow: auto; */
  /* word-wrap: break-word; */
}

.custom-comment-username {
  font-weight: bold;
}


.your-comment{
  background-color: rgb(247, 246, 246);
}

.custom-btn-comment {
  width:100%;
  margin-top: 5px;
}

.image-avatar {
  border: 1px solid rgb(40, 153, 206);
  border-radius:180px;
  margin: 0px 20px;
}

a {
  text-decoration: none;
  color: white;

}
a:hover {
  color: rgb(105, 192, 233);
}

.title-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
  width: 100%;
  height: 50px;
  /* background-color: rgb(146, 147, 243); */
  margin: 25px 0px 20px 0px;
  padding: 10px;
  border-radius: 8px;
}

p {
overflow: hidden;
white-space: nowrap; 
text-overflow: ellipsis;
margin: 1px;
}
.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 1px;
  font-weight: bolder;
  color: white; 
  font-size:22px;
}

.book-sell-new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
}

.card {
  flex-basis: 18%;
  height: 330px;
  cursor: pointer;
  margin: 15px 12px;
  box-shadow: 3px 3px 3px ;
  background-color: rgb(105, 192, 233);
  border: 1px solid rgb(105, 192, 233);
}

.card:hover {
  color: black;
  box-shadow: 10px 10px 7px #666;
  background-color: rgb(89, 147, 185);
}

.custom-btn-seemore {
  color: rgb(40, 153, 206);
  height: 29px;
  width: 72px;
  padding: 1px;
  font-style: italic;
}

/* .card-price {
  color: white;
} */
.card-description {
  font-style: italic;
  /* opacity: 90%; */
}

.custom-flashsale {
  border: 1px solid red;
  background-color: red;
  padding: 2px 7px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 3px 3px 5px;
  font-size: 14px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;

}
a:hover {
  color: black;
}
 
i {
  color:rgb(105, 192, 233)
}

.custom-breadcrumb {
  background-color: rgb(247, 246, 246);
  
}

.breadcrumb{
  padding: 10px;
  font-size: 18px
}

.breadcrumb-home {
  color: black;
}

.list-comment{
  overflow: auto;
  height: 700px;
}

/* ======================== */
/* FOOTER */
footer {
  background-color: rgb(105, 192, 233);
  padding: 10%;
  /* height: 500px; */
  margin-top: 50px;
}